<div class="modal modal-{{_id}}" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">{{title}}</h5>
		      </div>
		      <div class="modal-body">
		        <div class="form-group">
				  <div class="notes-group">
				  {{#each notes}}
				  	<p class="note-entry note-{{_id}}">{{body}}<span class="note-entry" aria-hidden="true"><a href="#" id="{{_id}}" class="delete-note"><img class="deleteImg" src="./images/delete.png"></img></a></span></p>
				  {{/each}}
				  </div>
				  <textarea class="note-{{_id}} form-control" id="{{_id}}" rows="3"></textarea>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" id="{{_id}}" class="save-note btn btn-primary">Save Note</button>
		      </div>
		    </div>
		  </div>
		</div>